@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>EnterBank</title>
    <link rel="stylesheet" href="~/Multi-steps-form/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="container">
        <header>Şifremi unuttum</header>
        <div class="form-outer">
            <form method="post">
                <div class="page">
                    <div class="field">
                        <div class="label">Eposta Adresiniz:</div>
                        <input type="text" name="EMail">
                    </div>
                    <div class="field btns">
                        <button class="submit">Şifremi Sıfırla</button>
                    </div>
                </div>
            </form>
            <label>@ViewBag.Response</label>
        </div>
    </div>
    <script src="~/Multi-steps-form/script.js"></script>

</body>
</html>
