@model DTOLayer.DTOs.Auth.ConfirmCodeDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>EnterBank</title>
    <link rel="stylesheet" href="~/Multi-steps-form/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>


    <div class="container">
        <div class="form-outer">
            <form class="otc" name="one-time-code" method="post">
                <div class="page">
                    <div class="field">
                        <div class="label">Doğrulama Kodu</div>
                        <fieldset>
                            <label for="otc-1">Number 1</label>
                            <label for="otc-2">Number 2</label>
                            <label for="otc-3">Number 3</label>
                            <label for="otc-4">Number 4</label>
                            <label for="otc-5">Number 5</label>
                            <label for="otc-6">Number 6</label>
                            <div>
                                <input type="number" pattern="[0-9]*" name="Code1" inputtype="numeric" autocomplete="one-time-code" id="otc-1" required>
                                <input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1" name="Code2" inputtype="numeric" id="otc-2" required>
                                <input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1" name="Code3" inputtype="numeric" id="otc-3" required>
                                <input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1" name="Code4" inputtype="numeric" id="otc-4" required>
                                <input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1" name="Code5" inputtype="numeric" id="otc-5" required>
                                <input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1" name="Code6" inputtype="numeric" id="otc-6" required>
                                <input type="hidden" name="Id" value="@Model.Id" />
                            </div>
                        </fieldset>
                    </div>
                    <div class="field btns">
                        <button class="submit">Kaydet</button>
                    </div>
                    @if (ViewBag.Error != null)
                    {
                        <div class="label">Hatalı Giriş</div>

                    }
                </div>
            </form>
        </div>
    </div>
    <script>
        let in1 = document.getElementById('otc-1'),
            ins = document.querySelectorAll('input[type="number"]'),
            splitNumber = function (e) {
                let data = e.data || e.target.value;
                if (!data) return;
                if (data.length === 1) return;

                popuNext(e.target, data);
            },
            popuNext = function (el, data) {
                el.value = data[0];
                data = data.substring(1);
                if (el.nextElementSibling && data.length) {
                    popuNext(el.nextElementSibling, data);
                }
            };

        ins.forEach(function (input) {
            input.addEventListener('keyup', function (e) {
                if (e.keyCode === 16 || e.keyCode == 9 || e.keyCode == 224 || e.keyCode == 18 || e.keyCode == 17) {
                    return;
                }

                if ((e.keyCode === 8 || e.keyCode === 37) && this.previousElementSibling && this.previousElementSibling.tagName === "INPUT") {
                    this.previousElementSibling.select();
                } else if (e.keyCode !== 8 && this.nextElementSibling) {
                    this.nextElementSibling.select();
                }

                if (e.target.value.length > 1) {
                    splitNumber(e);
                }
            });

            input.addEventListener('focus', function (e) {
                if (this === in1) return;

                if (in1.value == '') {
                    in1.focus();
                }
                if (this.previousElementSibling.value == '') {
                    this.previousElementSibling.focus();
                }
            });
        });

        in1.addEventListener('input', splitNumber);
    </script>
    <script src="~/Multi-steps-form/script.js"></script>
</body>
</html>
